:root {
  --white: #fff;
  --black: #000;
  --blue-700: #175cd3;
  --green-600: #039855;
  --yellow-600: #d79500;
  --gray-100: #f7f7f7;
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

p {
  font-size: 1.1rem;
  line-height: 2.3rem;
  text-align: justify;
}

.section-title {
  font-family: "Bubblegum Sans", sans-serif;
  font-size: 40px;
  font-weight: 400;
  font-style: normal;
}

.subtitle {
  font-family: "Bubblegum Sans", sans-serif;
  margin-block: 24px 12px;
  align-self: flex-start;
  font-size: 2rem;
  font-weight: bold;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: var(--blue-700);
  &:hover {
    color: var(--yellow-600);
  }
}

strong {
  font-weight: bold;
}

.menu {
  position: fixed;
  z-index: 99;
  background: var(--white);
  width: 100vw;
}

.menu-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  width: 100%;
  max-width: 1080px;
  margin-inline: auto;
  padding-inline: 36px;
  box-sizing: border-box;
}

.menu-nav__logo > a > img {
  width: 64px;
}

.menu-nav__links,
.footer-nav__links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  font-weight: bold;
}

:where(.menu-nav__links, .footer-nav__links) > li {
  font-size: 0.8rem;
  > a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--black);
  }
  &:hover > a {
    color: var(--green-600);
  }
}

.footer-nav {
  text-align: center;
  max-width: 1080px;
  padding: 12px 36px;
  gap: 24px;
  flex-direction: column;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .footer-nav {
    flex-direction: row;
    padding: 24px 36px;
  }

  .menu-nav__links,
  .footer-nav__links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 36px;
    font-weight: bold;
  }

  :where(.menu-nav__links, .footer-nav__links) > li {
    font-size: 1rem;
  }
}
