@import url(./global.css);

.problems {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 75px;
  height: 100dvh;
  padding: 70px 36px;
  margin: auto;
  color: var(--white);
}

.problems--title {
  font-family: "Protest Guerrilla", sans-serif;
  font-size: 3rem;
  word-spacing: 1rem;
  font-weight: bold;
  font-style: normal;
  color: var(--white);
  text-align: center;
}

.problems--text {
  max-width: 900px;
}

.problems--filter {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000000cb;
  z-index: -1;
}

.problems--img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  z-index: -1;
}

.deforestation,
.burning,
.gallery,
.states,
.help {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  max-width: 800px;
  margin: auto;
  padding: 75px 36px;
}

.states--img,
.help--img {
  width: 100%;
}

.help--method-list {
  display: flex;
  flex-direction: column;
  gap: 18px;

  > li {
    list-style: decimal;
    font-size: 1.1rem;
    line-height: 2.3rem;
    text-align: justify;
  }
}

.help--ong-list {
  display: flex;
  flex-direction: column;
  gap: 18px;

  > li {
    color: var(--green-600);
    list-style: decimal;
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 2.3rem;
    text-align: justify;
  }
}

.deforestation--galery {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  width: 100%;
}

.deforestation--medias {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;

  > :where(iframe, div) {
    width: 100%;
  }
}

.deforestation--galery img {
  object-fit: cover;
  flex-grow: 1;
  width: 33%;
  height: 300px;
}

.burning {
  p:first-child {
    margin-top: 50px;
  }

  > img {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .problems--title {
    font-size: 6rem;
    line-height: 7rem;
  }

  .problems--text {
    text-align: center;
  }

  .deforestation--medias {
    display: flex;
    flex-direction: row;
    gap: 12px;
    width: 100%;

    > :where(iframe, div) {
      width: 50%;
    }
  }
}
